body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

nav {
    background: #333;
    text-align: center;
    padding: 30px 20px;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
}

nav button {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #45a049;
}
